<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBookAir1,1</key>
	<string>macbook_air</string>
	<key>MacBook1,1</key>
	<string>macbook13</string>
	<key>MacBook2,1</key>
	<string>macbook13</string>
	<key>MacBook3,1</key>
	<string>macbook13</string>
	<key>MacBook4,1</key>
	<string>macbook13_2008</string>
	<key>MacBookPro1,1</key>
	<string>macbook_pro</string>
	<key>MacBookPro1,2</key>
	<string>macbook_pro</string>
	<key>MacBookPro2,1</key>
	<string>macbook_pro</string>
	<key>MacBookPro2,2</key>
	<string>macbook_pro</string>
	<key>MacBookPro3,1</key>
	<string>macbook_pro</string>
	<key>MacBookPro4,1</key>
	<string>macbook_pro2008</string>
	<key>AAPL,PowerBook1998</key>
	<string>powerbook_g3</string>
	<key>PowerBook1,1</key>
	<string>powerbook_g3</string>
	<key>PowerBook2,1</key>
	<string>ibook</string>
	<key>PowerBook2,2</key>
	<string>ibook_fw</string>
	<key>PowerBook3,1</key>
	<string>powerbook_g3</string>
	<key>PowerBook3,2</key>
	<string>powerbook_titanium</string>
	<key>PowerBook3,3</key>
	<string>powerbook_titanium</string>
	<key>PowerBook3,4</key>
	<string>powerbook_titanium</string>
	<key>PowerBook3,5</key>
	<string>powerbook_titanium</string>
	<key>PowerBook4,1</key>
	<string>ibook_g3</string>
	<key>PowerBook4,2</key>
	<string>ibook_g3</string>
	<key>PowerBook4,3</key>
	<string>ibook_g3</string>
	<key>PowerBook5,1</key>
	<string>powerbook17</string>
	<key>PowerBook5,2</key>
	<string>powerbook15</string>
	<key>PowerBook5,3</key>
	<string>powerbook17</string>
	<key>PowerBook5,4</key>
	<string>powerbook15</string>
	<key>PowerBook5,5</key>
	<string>powerbook17</string>
	<key>PowerBook5,6</key>
	<string>powerbook15</string>
	<key>PowerBook5,7</key>
	<string>powerbook17</string>
	<key>PowerBook5,8</key>
	<string>powerbook15</string>
	<key>PowerBook5,9</key>
	<string>powerbook17</string>
	<key>PowerBook6,1</key>
	<string>powerbook12</string>
	<key>PowerBook6,2</key>
	<string>powerbook12</string>
	<key>PowerBook6,3</key>
	<string>ibook_g4</string>
	<key>PowerBook6,4</key>
	<string>powerbook12</string>
	<key>PowerBook6,5</key>
	<string>ibook_g4</string>
	<key>PowerBook6,7</key>
	<string>ibook_g4</string>
	<key>PowerBook6,8</key>
	<string>powerbook12</string>
</dict>
</plist>